<table class="table">
    <caption>Student Table</caption>
    <thead> 
    <tr>
        <th>Admission number</th>
        <th>Student Name</th>
        <th>Department</th>
    </tr>
    </thead>
    <tbody *ngFor="let student of studentArray;let i index"> 
    <tr >

        <td appHover  (dblclick)="student.show=!student.show">
            
            <div [class]="'displayClass' + i.admno" [hidden]="student.show">{{student.admno}}</div>

            <div [class]="'hideClass' + i.admno" [hidden]="!student.show">

                <input type="text" #val1>

                <button   type="button" id="btn" (click)="EditValue(ad,val1.value,i)">Save</button>
        </div>
        </td>

        <td appHover (dblclick)="student.show=!student.show">

            <div [class]="'displayClass' + i.admno" [hidden]="student.show">{{student.name}}</div>

            <div hidden  [class]="'hideClass' + i.admno" [hidden]="!student.show">

                <input type="text" #val2>

                <button   type="button" id="btn" (click)="EditValue(nm,val2.value,i)">Save</button>

        </div>
        </td>

        <td appHover (dblclick)="student.show=!student.show">

            <div [class]="'displayClass' + i.admno" [hidden]="student.show">{{student.dept}}</div>

            <div hidden  [class]="'hideClass' + i.admno" [hidden]="!student.show">

                <input type="text" #val3>

                <button   type="button" id="btn" (click)="EditValue(dp,val3.value,i)">Save</button>

        </div>
        </td>
    </tr>
    </tbody>

</table>
<style>
    table, th, td {
  border: 1px ridge brown;

}
</style>
